body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000; /* Dark background like the image */
}

.overlay {
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center;
    z-index: 10;
}

h1 {
    color: white;
    font-family: 'Serif', sans-serif;
    font-size: 3rem;
    letter-spacing: 2px;
}

canvas {
    display: block;
}